* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navUl {
    background-color: black;
    display: flex;
    margin-left: -30px;
    margin-top: 20px;
    color: white;
    list-style: none;
    justify-content: space-around;
}

#div_id,
.box,
.para,
#parent,
.spam_div,
.hTag,
.event_div {
    margin: 50px;
    color: aliceblue;
    padding: 60px;
    border: 1px solid aqua;
    text-align: center;
}

#div_id ul li,
.box ul li {
    list-style: none;
    margin: 5px;
}

.spam_div h2,
.event_div h2,
#child3 {
    margin-bottom: 20px;
}

/* new class which will get added by classList property */
.hTag_overlap {
    color: darkturquoise;
    border-style: dotted;
}

#count_click {
    padding: 10px;
    background-color: rgb(83, 236, 83);
    font-size: 18px;
    font-weight: 600;
    border-style: groove;
    border-radius: 20px;
}

#count_click:hover,
#theme:hover,
.button a:hover {
    background-color: black;
    border-color: aqua;
    color: rgb(83, 236, 83);
}

#theme {
    margin: 30px;
    margin-bottom: -10px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background-color: gainsboro;
}

.button a {
    background-color: gainsboro;
    padding: 6px 5px 6px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid rgb(0, 0, 97);
}